.divClass h1{
 color: darkblue;
}

#spanId{
    font-size: 18px;
    margin: 50px;

}

#thirdDiv{
    height: 600px;
     padding: 50px; 
     border: 1px solid darkgreen;
     width:500px;
    background: darkgoldenrod;  
}

#thirdDiv img{
    width: 400px;
}