


.divClass {
    
    text-align: center;
    }
 .divClass h1{
  color: darkblue;
 text-align: center;
 }
 
 #spanId{
     font-size: 18px;
     margin: 50px;
     text-align:  center;
 
 }
 
 #thirdDiv{
     position: relative;
     left: 300px;
     text-align: center;
     height: 500px;
     width:600px;
     padding: 50px; 
     border: 10px solid darkgreen;
     
    background: darkgoldenrod;  
     
     
      
 }
 
 
 
 #thirdDiv img{
     width: 400px;
     
 }